<div class='card-info'>
      <div class="card">
        <div class="time">
          <span class="month" >{{card.month}}/</span>
          <span class="year" >{{card.year}}</span>
          <span class="money-right">余额:¥{{card.accountBalance}}</span>
        </div>
        <div class="money">
          <div class="pay">
             <span class="money-title">支出</span>
             <div class="num">¥{{card.pay}}</div>
          </div>
          <div class="pay">
            <span class="money-title">收入</span>
            <div class="num">¥{{card.income}}</div>
          </div>
        </div>
        <div class="more">
          预算：您还未设置预算>
        </div>
      </div>
  </div>
  
