.picker-time{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    width: 100%;
    .left{
        float:left;
    }
    .right{
        float:right;
    }
}

.list-box{
    background: #f5f5f9;
    color: #adadad;
    .title{
      line-height: 40px;
      display: flex;
      padding:0 15px;
      .list-title{
        flex: 1;
      }
    }
  }